.AdminDahboard {
}
.BarChart {
  height: 550px;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #d6d6d6;
  padding: 12px;
  border-radius: 10px;
}
.BarChart h3 {
  font-size: 1.1rem;
  color: var(--text-color);
  margin-bottom: 10px;
}
.AdminDahboard .table-container {
  padding: 20px;
  flex: 1;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
}
.AdminDahboard .table-container h3 {
  font-size: 1rem;
  align-self: start;

  color: var(--text-color);
}
.AdminDahboard .pieChart-container {
  height: 400px;
  width: 300px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.AdminDahboard .pieChart-container h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-color);
}
