.SelectedUser {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 2px #0000001f);
}
.SelectedUser img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.SelectedUser h6 {
  font-size: 0.9rem;
  line-height: 5px;
  margin-top: 5px;
}
.SelectedUser span {
  font-size: 0.7rem;
  color: var(--second-text-color);
}
.Chat {
  flex: 1;
  margin: 0px 10px;
}
.Chat .chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
  filter: drop-shadow(1px 1px 2px #0000001F);
  width: 100%;
  flex: 1;
  background-color: var(--bg-color);
  border-radius: 10px;
  height: 100vh;
}
.Chat .chat-container .day h6{
  filter: drop-shadow(1px 1px 2px #0000001F);
 
  background-color: #fff;
  color: var(--text-color);
  font-size: 0.9rem;
  padding: 10px;
  
}
.Chat .chat-container .day {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Chat .chat-container .day::after,.day::before{
  content: "";
  height: 1px;
  flex: 1;
  width: 80%;
  background-color: #D6D6D6;
  margin: 0 0px;
}

.Chat .chat-container .chat-box{
 width: 100%;
 flex: 1;
 display: flex;
 justify-content: start;
 align-items: start;
 flex-direction: column;
 overflow-y: scroll;
 padding-bottom: 100px;
}
.Chat .chat-container .chat-box .message {
display: flex;
justify-content: center;
align-items: start;
gap: 8px;
margin-top: 10px;
}
.Chat .chat-container .chat-box .message img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.Chat .chat-container .chat-box .message .text{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  max-width: 90%;
}
.Chat .chat-container .chat-box .message .message-data{
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
}
.Chat .chat-container .chat-box .message .message-data h6{
  color: var(--text-color);
  font-size: 0.8rem;
  
}
.Chat .chat-container .chat-box .message .message-data p{
  color: var(--text-color);
  font-size: 0.8rem;
  line-height: 20px;
}
.Chat .chat-container .chat-box .message .text span{
  font-size: 0.7rem;
  color: var(--second-text-color);
}
.own{
  align-self: flex-end;
  flex-direction: row-reverse;
}
.own .text p ,.own h6{
  color: #fff !important;
}
.Chat .chat-container .chat-box .own .text span{
  align-self: flex-end;
} 
.own .message-data{
 background-color: #B13754 !important;
}
.Chat .chat-container .chat-input{
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
background-color: #fff;
border-radius: 10px;
padding: 20px 25px;
}
.Chat .chat-container .chat-input input{
  border: none;
  outline: none;
  flex: 1;
  margin-left: 10px;
  
}
.Chat .chat-container .chat-input img{
  cursor: pointer;
}