.Cart {
}
.offcanvas.show:not(.hiding),
.offcanvas.showing {
  transform: none;
  border-radius: 20px 0px 0px 20px;
  padding: 20px;
}
.offcanvas{
  width: 30vw !important;
  min-height: 100vh !important;
}
.offcanvas-header .btn-close {
  background-color: var(--primary-color) !important;
  padding: 10px 15px !important;
  border-radius: 5px;
  font-size: 0.6rem;
  color: var(--text-color);
}
.offcanvas-header .btn-close:focus{
  box-shadow: none;
}
.offcanvas-title {
  font-size: 1.5rem !important;
}
.offcanvas-title span {
  font-size: 1.2rem;
  color: var(--second-text-color);
}
.offcanvas-body{
  display: flex;
  flex-direction: column;

}
.offcanvas-body .delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offcanvas-body .delivery h5 {
  font-size: 1.1rem;
  color: var(--btn-color);
}
.offcanvas-body .delivery .location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.offcanvas-body .delivery .location img {
  width: 20px;
}
.offcanvas-body .delivery .location span {
  font-size: 0.9rem;
}
.offcanvas-body .delivery .arrow {
  width: 17px;
  cursor: pointer;
}
.CartProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.CartProduct .data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.CartProduct .data img {
  width: 60px;
  height: 60px;
}
.CartProduct .data .count{
  color: var(--second-text-color);
  font-size: 0.9rem;
}
.CartProduct .data .texts{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-left: 10px;
}
.CartProduct .data .texts .name{
  font-size: 0.9rem;
  color: var(--text-color);
}
.CartProduct .data .texts .price{
  margin-bottom: 0;
  font-size: 0.9rem;

}
.CartProduct .data .texts .price span{
  color: var(--btn-color);
}
.CartProduct .delete img{
  width: 17px;
}
.CartProduct .delete{
  cursor: pointer;
  padding:  15px;
  border-radius: 8px;
  background-color: var(--primary-color);

}
.offcanvas-body .addaItems{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.offcanvas-body .addaItems img{
  width: 13px;

}
.offcanvas-body .addaItems p{
  margin-bottom: 0;
font-size: 1rem;
}
.offcanvas-body .services{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.offcanvas-body .services .img{

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  background-color: var(--primary-color);
}
.offcanvas-body .services img{

  width: 40px;
  height: 40px;
}
.offcanvas-body .services .name{
  font-size: 1rem;
  color: var(--second-text-color);
}
.offcanvas-body .services .price{
  margin-bottom: 0;
  font-size: 0.9rem;

}
.offcanvas-body .services .price span{
  color: var(--btn-color);
}
.offcanvas-body .coupon{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--btn-color);
  outline: none;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 8px;
  font-size: 0.8rem;
  font-weight: 500;
  white-space: nowrap;
  gap: 5px;
width: 100%;
margin-top: 20px;
}
.offcanvas-body .coupon:hover{
  background-color: var(--btn-color);
  color: #fff;
  transition: 0.7s;

}
.offcanvas-body .coupon:hover  img{
  filter: grayscale(100%) invert(100%);

}
.offcanvas-body .coupon img{
  width: 30px;

}
.offcanvas-body .checkout{
  width: 100%;
  padding: 13px;
  border-radius: 50px;
  margin-top: 20px;
  align-self: flex-end;
  text-decoration: none;
  transition: 0.7s;
  text-align: center;
  height: max-content;
}
.offcanvas-body .checkout:hover{
  background-color: #fff;
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
}