.OrderSummary{
  width: 25vw;
  
}
.OrderSummary .content{
  background-color: #fff;
  padding:30px 20px;
  border-radius: 20px;
  margin: 20px;
}
.OrderSummary .content h3{
  text-align: center;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
}
.OrderSummary .content .prices{
border-top: 1px solid #D6D6D6;
border-bottom: 1px solid #D6D6D6;
padding: 20px 20px;
}
.OrderSummary .content .prices div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.OrderSummary .content  div p{
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 600;
}
.OrderSummary .content span{
  color: var(--btn-color);
}
.OrderSummary .content .total{
  display: flex;
  justify-content: space-between;
  align-items: center;
padding: 20px 20px;

}
.OrderSummary .content .Button{
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}