.custom-table {
  width: 100%;
  text-align: center;
}

.custom-table th {
  text-transform: capitalize;
}
.custom-table td,
.custom-table th {
  padding: 20px;
  font-size: 1.1rem;
  color: var(--text-color);
  font-weight: 400;
}
.custom-table tr {
  border-bottom: 1px solid #d6d6d6;
  transition: 0.6s;

}
.custom-table tr:last-child{
  border-bottom: none;
}
.custom-table tr:hover{
  background-color: var(--btn-color);
}
.custom-table tr:hover td {
  color: #fff;
}
.custom-table tr:hover  th{
  color: #fff;
}
.custom-table td:first-child,
.custom-table th:first-child{
  text-align: start;
}