.MainUserDashboardRight{
  width: 20vw;
  padding: 20px 10px;

}
.MainUserDashboardRight .icons{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  
}
.MainUserDashboardRight .icons img{
 border-radius: 8px;
 background-color: var(--primary-color);
 padding: 5px;
 cursor: pointer;

}
.MainUserDashboardRight .icons .user{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.MainUserDashboardRight .wallet{
  margin-top: 20px;
}
.MainUserDashboardRight h3{
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 20px;

}
.MainUserDashboardRight .wallet .ballance{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  margin: auto;
  height: 165px;
  background-image: url('../../../../images/wallet-card-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.MainUserDashboardRight .wallet .ballance .text{
 text-align: center;
 background-color: #fff;
 padding: 10px 30px;
 border-radius: 10px ;
 line-height: 10px;
}
.MainUserDashboardRight .wallet .ballance .text .header{
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 10px;
}
.MainUserDashboardRight .wallet .ballance .text .price{
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 600;

}
.MainUserDashboardRight .address{
  margin-top: 20px;
}
.MainUserDashboardRight .address .data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.MainUserDashboardRight .address .data div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
}
.MainUserDashboardRight .address .data div img{
  width: 20px;
}
.MainUserDashboardRight .address .data button{
  border: 1px solid var(--btn-color);
  border-radius: 20px;
  color: var(--btn-color);
  padding: 2px 5px;
  font-size: 0.7rem;
  background-color: #fff;
  outline: none;
  transition: 0.7s;
}

.MainUserDashboardRight .address .data button:hover{
  background-color: var(--btn-color);
  color: #fff;
}
.MainUserDashboardRight .address p{
  margin-top: 10px;
  font-size: 0.9rem;
  color: var(--second-text-color);

}
.MainUserDashboardRight .adds{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.MainUserDashboardRight .adds button{
  border: 1px solid #474747;
  color: #333333;
  background-color: #fff;
  font-size: 0.7rem;
  padding: 3px 15px;
  border-radius: 20px;
  text-transform: capitalize;
  transition: 0.7s;
}
.MainUserDashboardRight .adds button:hover{
  background-color: #474747;
  color: #fff;
}