.category-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid #D6D6D6;
  width: fit-content;
  cursor: pointer;
  transition: 0.7s ;
}
.category-card img{
  width: 50px;
}
.category-card h5{
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
}
.category-card:hover{
/* transform: translateY(-15px); */
background-color: var(--btn-color);
}
.category-card:hover  h5{
  color: #fff;

}