.PartnerMainSection {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  background-color: var(--bg-color);
}

.PartnerMainSection .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 100px;
}
.PartnerMainSection .main .contant {
  max-width: 550px;
  text-align: start;
  margin-bottom: 150px;
}
.PartnerMainSection .main .contant h2 {
  font-weight: 500;
  font-size: 2.8rem;
  letter-spacing: 1px;
  line-height: 4.4rem;
  padding-left: 40px;

}
.PartnerMainSection .main .contant p {
  font-size: 1.25rem;
  color: #858585;
  margin-top: 1.25rem;
  line-height: 2rem;
  padding-left: 40px;

}
.PartnerMainSection .main .contant .partners-withus{
  padding-left: 30px;
}
.PartnerMainSection .main .contant .second-image {
  display: none;
  box-sizing: border-box;
}
.PartnerMainSection .main .layout .main-image {
  max-height: 800px;
  /* width: 600px;  */
  object-fit: cover;
  z-index: -1;
}
@media (max-width: 1024px) {
  .PartnerMainSection .main .layout {
    display: none;
  }
}
@media (max-width: 992px) {
  .PartnerMainSection {
    height: 100%;
    padding-top: 20px;
  }
  .PartnerMainSection .main .contant {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .PartnerMainSection .main .contant .second-image {
    display: block !important;
    width: 95vw !important;
  }
  .PartnerMainSection .main .contant .partners-withus {
  display: none;

  }
 
}
@media (max-width: 768px) {
  .PartnerMainSection {
    margin-bottom: 300px;
  }
  .PartnerMainSection .main{
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  .PartnerMainSection .main .contant .second-image {
    display: none;
    box-sizing: border-box;
    width: 100% !important;

  }
  .PartnerMainSection .main .contant .partners-withus {
    display: block;
    width: max-content;
    position: relative;
    z-index: 100;
    top: 340px;
    padding-left: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: start;
  }
  .PartnerMainSection .main .contant .partners-withus img{
    width:280px;
  }
  .PartnerMainSection .main .contant h2 {

    padding-left: 0px;
  
  }
  .PartnerMainSection .main .contant p {
  
    padding-left: 0px;
  
  }
}
